/* frontend/src/index.css */
:root {
  /* Tumhara naya Color Palette */
  --c-dark: #1E1E24;       /* Shadow Grey */
  --c-blue: #BDE0FE;       /* Icy Blue */
  --c-salmon: #FB9F89;     /* Sweet Salmon */
  --c-seaweed: #21A179;    /* Seaweed */
  --c-green: #9CEC5B;      /* Lawn Green */

  /* Base Colors */
  --bg-main: #f4f7f6;
  --bg-card: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* frontend/src/index.css mein yeh change karo */
body, html {
  margin: 0;
  padding: 0;
  background-color: #0f172a; /* Dark slate color taaki white gap na dikhe */
  min-height: 100vh;
}